<h1>Blocks:</h1>
<input [(ngModel)]="_page" placeholder="name">
<input [(ngModel)]="_size" placeholder="name">
<table>
    <tr>
        <th>Number</th>
        <th>Flats</th>
    </tr>
    <tr *ngFor="let block of _blocks">
        <td>
            {{block.blockNumber}}
        </td>
        <td>
            <button (click)="showFlats(block.id)">Show flats</button>
            <div *ngIf="_showFlatsEnable[block.id]">
                <block-flats-component [_blockId]="block.id"></block-flats-component>
            </div>
        </td>
    </tr>
</table>